html {
  font-family: "Heebo", sans-serif;
  background-color: $color-white;
  margin: 0;
  font-weight: normal;
}

body {
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: $color-black;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 48px;
}

a {
  text-decoration: none;
  color: $color-black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

li {
  list-style: none;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 64px;
    line-height: 96px;
  }

  h3 {
    font-size: 56px;
    margin-bottom: 20px;
  }
}
