html {
  font-family: "Heebo", sans-serif;
  background-color: $color-white;
  margin: 0;
  font-weight: normal;
}

body {
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
}

.section-1 {
  margin: 80px 0;
  display: flex;
  justify-content: center;

  h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
  }

  span:first-of-type {
    font-style: italic;
    color: $color-darkGrey;
    margin-left: 130px;
    text-align: end;
  }

  span:last-of-type {
    color: $color-brand;
    text-align: center;
  }
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: $color-black;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 48px;
}

.container,
#section-presentation,
.courant__section1-article_text,
.contact__info--title {
  a {
    padding-left: 55px;
    position: relative;
    transition: 0.3s linear;
    &:hover {
      padding-left: 20px;
      &:hover:before {
        width: 10px;
      }
    }
  }
  a::before {
    content: "";
    background: url("../assets/images/home/ligne.png") center center no-repeat;
    width: 47px;
    height: 2px;
    top: 10px;
    left: 0;
    position: absolute;
    transition: 0.3s linear;
  }
}

a {
  text-decoration: none;
  color: $color-black;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

li {
  list-style: none;
}

@media (min-width: 1000px) {
  .section-1 {
    margin: 60px 0;

    h1 {
      font-size: 140px;
      line-height: 150px;
      span:first-of-type {
        margin-left: 300px;
      }
    }
  }

  h2 {
    font-size: 64px;
    line-height: 96px;
  }

  h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
