::-webkit-scrollbar {
  display: none;
}

html {
  font-family: "Heebo", sans-serif;
  background-color: #fffbf5;
  margin: 0;
  font-weight: normal;
}

body {
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: lighter;
  line-height: 24px;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #260402;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 48px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  margin-bottom: 5px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 48px;
}

a {
  text-decoration: none;
  color: #260402;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

li {
  list-style: none;
}

@media (min-width: 1000px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 64px;
    line-height: 96px;
  }

  h3 {
    font-size: 56px;
    margin-bottom: 20px;
  }
}
.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
.contact__info {
  width: 85%;
}
@media screen and (min-width: 1200px) {
  .contact__info {
    margin-top: 120px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
  }
}
.contact__info--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
@media screen and (min-width: 1200px) {
  .contact__info--title {
    width: 40%;
    padding: 0 80px;
  }
}
.contact__info--title h1,
.contact__info--title h2 {
  width: 100%;
  text-align: left;
}
.contact__info--title .read-more {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  width: 100%;
  height: 40px;
}
@media screen and (min-width: 1200px) {
  .contact__info--title .read-more {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
  }
}
.contact__info--title .read-more svg {
  margin-left: 4px;
}
.contact__info--title .read-more p {
  cursor: pointer;
}
.contact__info--img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .contact__info--img {
    width: 530px;
  }
}
.contact__info--img art-img1 {
  width: min-content;
  transition: transform 0.4s ease-in;
}
.contact__info--img art-img1:hover {
  transform: scale(1.3);
}
.contact__form {
  margin: 80px 0 0 0;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
@media screen and (min-width: 1200px) {
  .contact__form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
    height: 1000px;
  }
}
.contact__form--body {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .contact__form--body {
    width: 40%;
  }
}
.contact__form--body h2 {
  text-align: center;
  margin: 40px;
}
.contact__form--body label p {
  text-transform: uppercase;
}
.contact__form--body label input {
  background-color: #fffbf5;
  border-style: none;
  border-bottom: 1px solid #d1bfb2;
  width: 80%;
}
.contact__form--body label input:focus {
  outline: none;
}
.contact__form--body label input::placeholder {
  color: #d1bfb2;
}
.contact__form--body--btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  height: 120px;
  border-style: none;
  background-color: #fffbf5;
  text-transform: uppercase;
}
.contact__form--body--btn svg {
  margin-left: 16px;
}
.contact__form--img {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
@media screen and (min-width: 1200px) {
  .contact__form--img {
    width: 40%;
    margin-top: 56px;
  }
}
.contact__form--img picture {
  width: min-content;
  margin: 80px;
}

.courant {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
@media screen and (min-width: 1200px) {
  .courant {
    margin-top: 320px;
  }
}
@media screen and (min-width: 1780px) {
  .courant {
    margin-top: 560px;
  }
}
.courant__section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  width: 85%;
}
@media screen and (min-width: 1200px) {
  .courant__section1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
    margin: 80px 0;
  }
}
@media screen and (min-width: 1780px) {
  .courant__section1 {
    width: 75%;
  }
}
.courant__section1-container1 {
  width: 100%;
  height: 100%;
}
.courant__section1-container2 picture {
  margin: 24px;
}
@media screen and (min-width: 1200px) {
  .courant__section1-title {
    height: 152px;
    position: relative;
  }
}
.courant__section1-title .title {
  width: 220px;
}
@media screen and (min-width: 468px) {
  .courant__section1-title .title {
    width: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .courant__section1-title .title {
    width: 520px;
  }
}
@media screen and (min-width: 1200px) {
  .courant__section1-title .title {
    position: absolute;
    width: 720px;
    top: -280px;
    left: 120px;
  }
}
@media screen and (min-width: 1780px) {
  .courant__section1-title .title {
    width: 900px;
    top: -440px;
    left: -48px;
  }
}
.courant__section1-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .courant__section1-article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .courant__section1-article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
  }
}
.courant__section1-article_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
.courant__section1-article_paragraph {
  width: 330px;
}
.courant__section1-article_text {
  width: 330px;
}
.courant__section1-article_text .read-more {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  width: 100%;
  height: 40px;
}
@media screen and (min-width: 1200px) {
  .courant__section1-article_text .read-more {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
  }
}
.courant__section1-article_text .read-more svg {
  margin-left: 4px;
}
.courant__section1-article_text .read-more p {
  cursor: pointer;
}
.courant__section1-container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  width: min-content;
}
.courant__section2 {
  width: 100%;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
@media screen and (min-width: 1200px) {
  .courant__section2 {
    margin: 80px 0;
  }
}
.courant__section2-title {
  width: 80%;
}
.courant__section2-title h2 {
  width: 100%;
}
.courant__section2-title h2:first-of-type {
  text-align: left;
}
.courant__section2__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .courant__section2__article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .courant__section2__article {
    width: 85%;
  }
}
.courant__section2__article_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  width: 330px;
  flex-wrap: wrap;
  height: 430px;
  background-color: white;
  margin: 24px 0;
  padding: 8px 0;
}
.courant__section2__article_card picture {
  width: min-content;
  height: min-content;
}
.courant__section2__article_card div {
  width: 263px;
  height: 100px;
}

header .nav-desktop {
  display: none;
}
header .nav-mobile {
  background-color: #8b4f4f;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-mobile .menu-burger {
  height: 29px;
}

@media (min-width: 1000px) {
  header .nav-mobile {
    display: none;
  }
  header .nav-desktop {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    margin: 20px auto;
    max-width: 1440px;
  }
  header .nav-desktop ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    padding: 0;
  }
  header .nav-desktop ul a {
    font-size: 20px;
    font-weight: normal;
  }
}
body > footer {
  background-color: #8b4f4f;
  display: flex;
  position: relative;
  margin-top: 70px;
  align-content: center;
  justify-content: space-between;
  padding: 30px;
}
body > footer .logo-footer {
  position: absolute;
  background-image: url("../assets/images/home/triangle-footer.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 144px 67px;
  padding: 0 50px 70px 50px;
  top: -20px;
  width: 12%;
  transform: translateX(50%);
}
body > footer .footer-menu ul {
  width: auto;
  padding: 0;
}
body > footer .footer-menu ul li {
  margin-bottom: 3px;
}
body > footer .footer-menu ul li a {
  color: white;
  font-weight: normal;
}
body > footer .footer-adresse {
  width: 40%;
  color: white;
  font-family: "Playfair Display", serif;
}

@media (min-width: 1000px) {
  body > footer {
    margin-top: 150px;
    justify-content: space-evenly;
    padding: 70px;
  }
  body > footer .logo-footer {
    background-size: 307px 143px;
    padding: 0 100px 100px;
    transform: translateX(0%);
    top: -60px;
    width: 100px;
  }
  body > footer .footer-menu ul {
    width: auto;
    padding: 0;
  }
  body > footer .footer-menu ul li {
    list-style: none;
    margin-bottom: 3px;
  }
  body > footer .footer-menu ul li a {
    text-decoration: none;
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: normal;
  }
  body > footer .footer-adresse {
    width: 15%;
    color: white;
    font-family: "Playfair Display", serif;
  }
}
.container {
  margin: 20px;
}
.container a {
  padding-left: 55px;
  position: relative;
}
.container a::before {
  content: "";
  background: url("../assets/images/ligne.png") center center no-repeat;
  width: 47px;
  height: 2px;
  top: 10px;
  left: 0;
  position: absolute;
}
.container .section-1 {
  margin: 80px 0;
}
.container .section-1 h1 {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
}
.container .section-1 h2:first-of-type {
  font-style: italic;
  color: #736a63;
  text-align: end;
}
.container .section-1 h2:last-of-type {
  color: #8b4f4f;
  text-align: center;
}
.container .section-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
}
.container .section-2 img {
  width: 100%;
}
.container .section-2 .tab1 {
  width: 90%;
}
.container .section-2 .tab2 {
  width: 90%;
}
.container .section-2 .tab3 {
  width: 80%;
  justify-self: end;
}
.container .section-2 .tab4 {
  margin-top: 10px;
  width: 90%;
  justify-self: end;
}
.container .section-2 .tab5 {
  position: absolute;
  width: 55%;
  top: 280px;
  z-index: 3;
}
.container .section-2 .tab6 {
  position: absolute;
  width: 30%;
  top: 80px;
  right: 0px;
}
.container .section-2 .tab7 {
  position: absolute;
  width: 60%;
  top: 380px;
  z-index: 3;
  right: 20px;
}
.container .section-2 .tab8 {
  position: absolute;
  width: 35%;
  top: 450px;
  left: 50px;
}
.container .section-3 {
  margin-top: 330px;
}
.container .section-3 footer {
  position: relative;
  margin-top: 60px;
}
.container .section-3 footer .tab-grand {
  width: 90%;
}
.container .section-3 footer .tab-petit {
  position: absolute;
  right: 0;
  top: -70px;
  border-radius: 152px;
  box-shadow: 0 0 30px black;
  width: 30%;
}
.container .section-4 {
  margin-top: 70px;
}
.container .section-4 footer {
  display: flex;
  gap: 20px;
  overflow: hidden;
  margin-top: 20px;
}
.container .section-4 footer .tab-petit {
  width: 50%;
  height: auto;
}
.container .section-4 footer .tab-grand {
  width: 50%;
}
.container .section-5 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 60% 40%;
  overflow: hidden;
  margin-top: 70px;
}
.container .section-5 .card {
  position: relative;
}
.container .section-5 .card img {
  height: 100%;
  width: 100%;
}
.container .section-5 .card .card-color {
  position: absolute;
  background-color: white;
  padding: 7px;
  bottom: 5px;
  left: 5px;
}
.container .section-5 .card .card-color img {
  width: 50px;
}
.container .section-5 .card .card-color p {
  font-size: 12px;
  margin: 0;
}
.container .section-5 .card.card2 {
  grid-row: span 2;
}
.container .section-5 .card.card4 {
  display: none;
}
.container .section-5 h2 {
  grid-column: span 2;
}

@media (min-width: 1000px) {
  .container {
    max-width: 1440px;
    margin: auto;
    padding: 0 10%;
  }
  .container .section-1 {
    margin: 60px 0;
  }
  .container .section-1 h1,
.container .section-1 h2,
.container .section-1 h3 {
    font-size: 140px;
    line-height: 150px;
  }
  .container .section-2 {
    margin-top: 200px;
    grid-template-columns: repeat(4, 1fr);
  }
  .container .section-2 .tab1 {
    width: 90%;
    padding-top: 30px;
  }
  .container .section-2 .tab2 {
    width: 80%;
    padding: 50px;
  }
  .container .section-2 .tab3 {
    width: 150%;
    justify-self: start;
  }
  .container .section-2 .tab4 {
    padding-top: 60px;
    width: 90%;
    z-index: 1;
  }
  .container .section-2 .tab5 {
    position: relative;
    width: 160%;
    top: 0px;
    z-index: 3;
  }
  .container .section-2 .tab6 {
    position: absolute;
    width: 30%;
    top: 250px;
    left: 35%;
    z-index: 4;
  }
  .container .section-2 .tab7 {
    position: relative;
    width: 130%;
    top: 0;
    z-index: 3;
    left: 130%;
  }
  .container .section-2 .tab8 {
    position: relative;
    width: 100%;
    top: 30px;
    left: 100%;
    z-index: 4;
  }
  .container .section-3 {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container .section-3 header {
    width: 80%;
  }
  .container .section-3 main {
    box-sizing: border-box;
    width: 50%;
    padding: 70px 100px;
  }
  .container .section-3 footer {
    width: 40%;
    display: flex;
    margin-top: 100px;
  }
  .container .section-3 footer .tab-grand {
    width: 100%;
    margin-left: auto;
  }
  .container .section-3 footer .tab-petit {
    width: 30%;
    left: -15%;
    top: -70px;
  }
  .container .section-4 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: end;
    margin-top: 150px;
  }
  .container .section-4 header {
    order: 2;
  }
  .container .section-4 main {
    order: 3;
  }
  .container .section-4 footer {
    order: 1;
    grid-row: span 2;
    position: relative;
  }
  .container .section-4 footer .tab-grand {
    position: absolute;
    top: 15%;
    right: 20%;
    width: 40%;
    box-shadow: 0 0 30px black;
  }
  .container .section-4 footer img.tab-petit {
    width: 50%;
  }
  .container .section-5 {
    margin-top: 150px;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
    align-items: center;
  }
  .container .section-5 h2 {
    grid-column: span 4;
    margin-bottom: 30px;
  }
  .container .section-5 .card {
    display: flex;
    justify-content: center;
  }
  .container .section-5 .card .card-color {
    bottom: 5px;
  }
  .container .section-5 .card .card-color p {
    font-size: 16px;
    margin: 0;
  }
  .container .section-5 .card .card-color img {
    width: 100%;
  }
  .container .section-5 .card .card-color {
    position: absolute;
    background-color: white;
    padding: 7px;
    bottom: 5px;
    left: 11%;
  }
  .container .section-5 .card .card-color img {
    width: 50px;
  }
  .container .section-5 .card .card-color p {
    font-size: 12px;
    margin: 0;
  }
  .container .section-5 .card img {
    width: 80%;
  }
  .container .section-5 .card.card4 {
    display: flex;
  }
}
